[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mohamed Tarek
	email = mohamed96tarek@hotmail.com
[credential]
	helper = cache
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = dilta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
